@model CLDV_POE.Models.User
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>

            <form asp-controller="Login" asp-action="Login" method="post">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" name="Username" required />
                    <label>Username</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" name="Password" required />
                    <label>Password</label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox" />Remember me</label>
                    <a asp-controller="Home" asp-action="ContactUs"> Forgot password?</a>
                </div>

                <button type="submit" class="btn">Login</button>

                @if (TempData["LoginFailed"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["LoginFailed"]
                    </div>
                }

                <div class="login-register">
                    <p>Don't have an account? <a class asp-controller="User" asp-action="RegisterPage">Register</a></p>
                </div>
            </form>
        </div>
    </div>

</div>


