@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="about-us">
        <h2>About Us</h2>
        <p>
            KhumaloCraft Emporium, was started by an innovative entrepreneur, James Khumalo, who had a vision where he could provide a
            platform to artisans from around the world, so they could market their handcrafted products to a global audience.
        </p>
        <p>
            This was only a dream, that James had, but he didn't want to stop there. He wanted this dream to become a reality! So James
            put together a development team, who faced great technical challenges such as, global accessibility, scalability, and ensuring a seamless user experience...
            In order for this dream to become reality, James had to seek for professional help. He approached a business advisor who directed him to specialized help,
            in cloud computing.
        </p>
        <p>
            To a conclusion James realized that the next step forward for his vision of KhumaloCraft, to become true and provide artisans around the world
            with access to a platform where they can market their handcrafted products, would be to migrate KhumaloCraft Emporium to cloud computing, so it can unlock
            new opportunities for growth, and deliver a pleasurable shopping experience to customers worldwide.
        </p>
    </div>
</div>