@{
    ViewData["Title"] = "My Work";
}

@*https://verveculture.com/collections/artisan-and-handmade-products*@

<h2>My Work</h2>
<hr>

<div class="card-container">

    <div class="card">
        <img src="https://www.fiongmma.com/cdn/shop/products/Aniema-AfricanTurquoise.jpg?v=1691434335" class="card-img" alt="Craftwork 1">
        <div class="card-body">
            <h5 class="card-title">African Turquoise Neckless</h5>
            <p class="card-desc">Beautiful handcrafted neckless, with turquoise rocks. Handcrafted in South Africa.</p>
            <p class="card-price">R499.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://www.re-thinkingthefuture.com/art/a3799-8-crafts-seen-in-karnataka/attachment/image1_sandalwood-elephant-carving_www-indiamart-com/" class="card-img" alt="Craftwork 2">
        <div class="card-body">
            <h5 class="card-title">Sandalwood Elephant Carving</h5>
            <p class="card-desc">Sandalwood carving of an elephant from the Kruger National Park.</p>
            <p class="card-price">R649.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://m.media-amazon.com/images/I/71eNqgNKUHL._AC_UF1000,1000_QL80_.jpg" class="card-img" alt="Craftwork 3">
        <div class="card-body">
            <h5 class="card-title">Hand Woven Tapestry</h5>
            <p class="card-desc">
                Made with 100% rope - This dainy tapestry is made with natural, high quality, four
                strands of rope and wooden dowel.
            </p>
            <p class="card-price">R2499.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://malawichair.co.za/wp-content/uploads/2022/06/IMG_7914a_0050895a-611a-496a-a19a-f3ad011c348f_1024x1024@2x-800x800.webp" class="card-img" alt="Craftwork 4">
        <div class="card-body">
            <h5 class="card-title">Ilala Palm Tray</h5>
            <p class="card-desc">A beautifully made, double-woven oversized handmade round tray from skilled craftswomen in Zimbabwe.</p>
            <p class="card-price">R349.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://verveculture.com/cdn/shop/products/VCMOL_both_web_1.jpg?v=1595373548&width=823" class="card-img" alt="Craftwork 5" />
        <div class="card-body">
            <h5 class="card-title">Traditional Molinillo Whisk</h5>
            <p class="card-desc">The molinillo is a Mexican wooden whisk that’s used to mix up and add froth to a batch of Mexican hot chocolate.</p>
            <p class="card-price">R399.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://verveculture.com/cdn/shop/products/KilimSlippers_1.jpg?v=1634316432&width=823" class="card-img" alt="Craftwork 6" />
        <div class="card-body">
            <h5 class="card-title">Moroccan Kilim Slippers</h5>
            <p class="card-desc">These slippers are a fusion of artisanal craftsmanship and cozy comfort that transports you to the captivating streets of Morocco with every step.</p>
            <p class="card-price">R899.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://www.re-thinkingthefuture.com/art/a3799-8-crafts-seen-in-karnataka/attachment/image1_sandalwood-elephant-carving_www-indiamart-com/" class="card-img" alt="Craftwork 2">
        <div class="card-body">
            <h5 class="card-title">Sandalwood Elephant Carving</h5>
            <p class="card-desc">Sandalwood carving of an elephant from the Kruger National Park.</p>
            <p class="card-price">R649.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

    <div class="card">
        <img src="https://m.media-amazon.com/images/I/71eNqgNKUHL._AC_UF1000,1000_QL80_.jpg" class="card-img" alt="Craftwork 3">
        <div class="card-body">
            <h5 class="card-title">Hand Woven Tapestry</h5>
            <p class="card-desc">
                Made with 100% rope - This dainy tapestry is made with natural, high quality, four
                strands of rope and wooden dowel.
            </p>
            <p class="card-price">R2499.99</p>
            <button class="btn btn-secondary cart-button">Add to Cart</button>
        </div>
    </div>

</div>
