@{
    ViewData["Title"] = "My Work";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">My Work</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://www.fiongmma.com/cdn/shop/products/Aniema-AfricanTurquoise.jpg?v=1691434335" class="card-img" alt="Craftwork 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">African Turquoise Neckless</h5>
                            <p class="card-text">Beautiful handcrafted neckless, with turquoise rocks. Handcrafted in South Africa.</p>
                            <p class="card-text">Price: R499.99</p>
                            <button class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://www.re-thinkingthefuture.com/art/a3799-8-crafts-seen-in-karnataka/attachment/image1_sandalwood-elephant-carving_www-indiamart-com/" class="card-img" alt="Craftwork 2">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Sandalwood Elephant Carving</h5>
                            <p class="card-text">Sandalwood carving of a friendly elephant commonly known amongst the community, in the Kruger National Park.</p>
                            <p class="card-text">Price: R649.99</p>
                            <button class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://m.media-amazon.com/images/I/71eNqgNKUHL._AC_UF1000,1000_QL80_.jpg" class="card-img" alt="Craftwork 3">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hand Woven Tapestry</h5>
                            <p class="card-text">Made with 100% rope - This dainty and light Cotton wall hanging is made with natural high quality four 
                                strands of rope and wooden dowel. Simple yet meticulously handcrafted, sturdy and durable. </p>
                            <p class="card-text">Price: R2499.99</p>
                            <button class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
