html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/*
    References:
    https://www.w3schools.com/css/css3_flexbox_container.asp

    https://ionic.io/ionicons

    https://www.vecteezy.com/photo/24741762-nature-hardwood-stripes-create-abstract-tree-backdrop-generative-ai

    https://www.codewithrandom.com/2023/12/02/css-text-hover-effects/

*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    text-align: center;
}

.container .account {
    margin-top: 50px;
    width: 1000px;
    height: 700px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 10px 18px 10px 10px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.account .account-box-options {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    flex-shrink: 0;
}

.account .account-box-content {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    text-align: left;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 40px;
    color: white;
}

.bubble {
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 550;
    padding: 15px;
}

.account .navbar a{
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    padding: 4px;
    margin: 12px;
}

.account .navbar a::before {
    content:'';
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.account .navbar a:hover::before {
    width: 100%;
}

.account .btn {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    transition: 500ms;
}

.account .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.02);
}

.container .contact-us {
    width: 800px;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 10px 18px 10px 10px rgba(0,0,0,0.7);
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
}

.contact-us .btn {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    transition: 500ms;
}

.contact-us .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.02);
}

.contact-us a {
    color: white;
    text-decoration: none;
}

.contact-us a:hover {
    text-decoration: underline;
}

.container .about-us {
    width: 800px;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 10px 18px 10px 10px rgba(0,0,0,0.7);
}

.container h1 {
    font-size: 8em;
    font-weight: 500;
/*    color: #fff;*/
    color: saddlebrown;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.25s;
}

    .container h1:hover {
        /*    color: #fff;*/
        /*    text-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;*/
        color: sandybrown;
        text-shadow: 0 0 5px sandybrown, 0 0 25px sandybrown;
    }
.container h2 {
    color: white;
    font-size: 3.5rem;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 1 );
}

.container h3 {
    color: white;
    font-size: 1.5rem;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 1 );
}

.container h4 {
    color: white;
    font-size: 18px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 1 );
}

.bubble-title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 30px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 1 );
}


.container hr {
    border: none; 
    height: 0px; 
    background-color: #000; 
    margin: 20px 20px; 
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    width: fit-content;
}

.content .box {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 300px;
    height: 220px;
    color: white;
    padding: 10px;
    border-radius: 20px;
    transition: 500ms ease;

}

.content .box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.2);
    z-index: 1;
    
}

.content .box .box-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: 500ms;
}

.table {
    text-align: center;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    border-spacing: 0 25px;
    border-collapse: separate;
}

.table th {
    font-size: 20px;
    font-weight: 550;
    color: white;
    padding: 15px;
}

.table td {
    padding: 5px;
    gap: 10px;
    margin: 10px;
}

.table .cart-button {
    background-color: #fff;
    height: 35px;
    width: 100%;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    transition: 500ms;
}

.table .cart-button:hover {
    transform: scale(1.1);
}

.wrapper {
    backdrop-filter: blur(5px);
    box-shadow: 10px 18px 10px 10px rgba(0,0,0,0.7);
    position: relative;
    width: 400px;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 3em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 500ms;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.input-select select{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-select select option{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #00ff21;
    margin-right: 6px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    transition: 500ms;
}

.wrapper .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.02);
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 25px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.product-container {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    overflow: auto;
    padding: 20px;
    overflow-y: auto;
}

.product-container .card {
    backdrop-filter: blur(7px);
    flex: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: white;
    width: 550px;
    height: 150px;
    transition: 0.3s ease-in-out;
    filter: brightness(100%);
}

.product-container .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.product-container .card .card-img {
    border-radius: 20px;
    height: 150px; 
    width: 150px;
    object-fit: fill; 
}

.product-container .card .card-price {
    position: absolute; 
    bottom: 0px; 
    left: 440px; 
}

.product-container .card .card-body {
    position: absolute;
    top: 20px;
    height: 100%;
}

.product-container .card .card-title {
    position: absolute;
    top: 8px;
    left: 170px;
    font-size: 18px; 
    margin-bottom: 0.75rem; 
}

.product-container .card .card-desc {
    position: absolute;
    left: 170px;
    top: 40px;
    text-align: left;
    font-size: 12px; 
    margin-bottom: 0.5rem; 
}

.product-container .card .card-quantity {
    position: absolute;
    left: 320px;
    bottom: 10px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.product-container .card .cart-button {
    position: absolute;
    bottom: 10px;
    left: 170px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 35px;
    width: 120px;
    font-weight: 550;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: 500ms;
}

.product-container .cart-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.product-container .order-button {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    color: white;
    transition: 500ms;
}

.product-container .order-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.02);
}

.custom-select select {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: absolute;
    left: 300px;
    height: 35px;
    bottom: 10px;
    border: none;
    border-radius: 6px;
}

.custom-select select option {
    padding: 5px 5px;
    background: transparent;
    color: white;
}

.card {
    backdrop-filter: blur(7px);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: white;
    width: 600px;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.quantity-input {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 10px;
    left: 400px;
    height: 35px;
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 6px;
}

.quantity label {
    position: absolute;
    bottom: 17px;
    left: 365px;
    color: white;
}

.card .cart-button {
    position: absolute;
    bottom: 10px;
    left: 210px;
    background-color: rgba(0, 0, 0, 0.75);
    height: 35px;
    width: 120px;
    font-weight: 550;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: 500ms;
}

.cart-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card .card-img {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    object-fit: fill;
}

.card .card-price {
    font-size: 18px;
    font-weight: 550;
    position: absolute; 
    bottom: 0px; 
    left: 460px; 
}

.card .card-body {
    padding: 1rem; 
    height: 100%;
}

.card .card-title {
    font-size: 1.5rem; 
    margin-bottom: 0.75rem; 
}

.card .card-desc {
    font-size: 12px; 
    text-align: center;
    margin-bottom: 0.5rem; 
}

.card .card-category {
    position: absolute;
    bottom: 40px;
    right: 30px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    width: fit-content;
    font-size: 14px;
    height: 40px;
    padding: 10px;
}

.card .available {
    position: absolute;
    font-size: 18px;
    font-weight: 550;
    left: 220px;
    bottom: 50px;
    color: springgreen;
}

.card .unavailable {
    position: absolute;
    font-size: 18px;
    font-weight: 550;
    left: 220px;
    bottom: 50px;
    color: red;
    text-decoration: line-through;
}
    
body {
/*    background-image: url('https://static.vecteezy.com/system/resources/previews/024/741/762/non_2x/nature-hardwood-stripes-create-abstract-tree-backdrop-generative-ai-free-photo.jpg');*/
    background-image: url(/Images/Elephants2.png);
    background-size: cover;
    background-position: center;
    padding: 0px;
    color: white;
    margin-bottom: 70px;
    font-family: Poppins, sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    font-size: 18px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 12px;
    padding: 10px;
}
